body {
  color: #DDD;
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2rem;
  }

h1 {
  font-weight: 100;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 200;
}

#main {
    padding: 50px;
    padding-left: 100px;
    padding-bottom: 200px;
    background: rgb(121,159,154);
    background: linear-gradient(135deg, rgba(121,159,154,1) 0%, rgba(83,142,177,1) 35%, rgba(199,181,193,1) 100%);
    border-radius: 8px;
    margin: 0 auto;
    width: 80%;
    min-width: 500px;
    position: relative;
}

#about {
  color: #fff;
  font-weight: 200;
  padding: 40px;
  border-radius: 8px;
  border: 2px solid #FFF;
  opacity: 0.8;
  width: 400px;
}

#about a {
  margin-bottom: 15px;
  display: block;
  color: #DDD;
  text-decoration: none;
}

#about a:before {
  content: "☞";
  padding-right: 1rem;
  color: rgb(254, 107, 222)
}

#about a:hover {
  color: #555;
}

#about a:hover:before {
  color: rgb(12, 205, 172)
}

